<h1><%= @student.name%></h1>
  <ul>
    #Method for Student's Best Subject?
    
  </ul>

  <%= link_to new_comment_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> Create a Comment
  <% end %>

  <%= link_to 'Delete Student', student_path(@student), method: :delete, class: 'btn btn-danger'  %>
